.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 32px;
  background: linear-gradient(135deg, #1e3a8a, #1e40af);
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;   /* PENTING */
  width: auto;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-right a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
